/.phpunit.cache
/node_modules
/public/builds
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
var
.php-cs-fixer.cache
app/Ship
config/octane.php
.vagrant
.etc/phpmyadmin
.etc/ssl/
!.etc/ssl/.gitkeep
