parameters:
    paths:
        - Asset
        - src
        - config
        - tests
    level: 5
    phpVersion: 80200
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    customRulesetUsed: true
