{
  "plugins": [
    [
      "@babel/plugin-proposal-do-expressions",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-async-do-expressions",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-property-mutators",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "loose": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
