parameters:
    paths:
        - app
        - src
        - routes
        - config
        - tests
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    excludePaths:
        - %currentWorkingDirectory%/app/Providers/*
    ignoreErrors:
        - '#(.*)should return Illuminate\Http\RedirectResponse but returns Illuminate\Http\RedirectResponse|Illuminate\Routing\Redirector#'
